<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Baltijos Reda</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/stylesheet.css">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Playball">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Raleway:400,900">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="js/vendor/bootstrap.js"></script>
	<script src="js/vendor/bootstrap.min.js"></script>
	<script src="js/vendor/jquery-2.1.4.min.js"></script>
	<script src="js/vendor/angular.js"></script>
	<script src="js/vendor/angular-route.min.js"></script>
	<script src="js/vendor/ui-bootstrap-tpls-2.2.0.min.js"></script>
</head>
<body ng-app="app">
	<header>
		<div ng-view></div>
	</header>

	<div class="jumbotron">
		<div class="container">
			<p>Patikimi sprendimai<br>ir aukšta kokybė</p>
		</div>
	</div>

	<div class="section" id="apiemus">
		<div class="container">
			<div class="row">
				<div class="col-md-6"><img src="../img/team.jpg"></div>
        		<div class="col-md-6">
        			<h1 class="section-header">apie mus</h1>
        			<p class="section-text">Ilgametę patirtį sukaupėme per 25 metų darbo laiką įgyvendindami įvairius projektus lietuvoje ir užsienyje</p>
        		</div>
        	</div>
		</div>
	</div>

	<div class="section" id="paslaugos" ng-controller="ToggleController">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
        			<h1 class="section-header">paslaugos</h1>
        			<ul>
        				<li class="section-text">
        					<p>Remonto ir priežiūros darbai.</p>
        					<button type="button" class="btn btn-default" ng-click="section1IsCollapsed = !section1IsCollapsed">skaityti plačiau</button>
							<ul class="dropdownlist" uib-collapse="!section1IsCollapsed">
        						<li>Bus papildyta...</li>
        						<li>Bus papildyta...</li>
        						<li>Bus papildyta...</li>
        					</ul>

        				</li>
        				<li class="section-text">
        					<p>Individualių namų statyba.</p>
        					<button type="button" class="btn btn-default" ng-click="section2IsCollapsed = !section2IsCollapsed">skaityti plačiau</button>
        					<ul class="dropdownlist" uib-collapse="!section2IsCollapsed">
        						<li>Bus papildyta...</li>
        						<li>Bus papildyta...</li>
        						<li>Bus papildyta...</li>
        					</ul>
        				</li>
        				<li class="section-text">
        					<p>Lengvosios statybinės technikos nuoma.</p>
        					<button type="button" class="btn btn-default" ng-click="section3IsCollapsed = !section3IsCollapsed">skaityti plačiau</button>
        					<ul class="dropdownlist" uib-collapse="!section3IsCollapsed">
        						<li>Bus papildyta...</li>
        						<li>Bus papildyta...</li>
        						<li>Bus papildyta...</li>
        					</ul>
        				</li>
        			</ul>
        		</div>
        		<div class="col-md-6"><img src="../img/services.jpg"></div>
        	</div>
		</div>
	</div>

	<div class="section" id="kontaktai">
		<div class="container">
			<div class="row">
				<div class="col-md-6"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2305.3388646718863!2d25.3058642160404!3d54.70366107987784!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dd96a308671455%3A0xb176ef63eb0ec2bf!2sP.+Vilei%C5%A1io+g.+18%2C+Vilnius+10306%2C+Lietuva!5e0!3m2!1slt!2slv!4v1472452439155" width="100%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe></div>
        		<div class="col-md-6">
        			<h1 class="section-header">kontaktai</h1>
        			<p class="section-text" id="no-margin">Mus rasite:</p>
        			<ul id="no-bullet">
        				<li class="contacts">Adresas: Vilnius, P. Vileišio g. 18</li>
        				<li class="contacts">Tel. nr.: +370 6xx xxxxx</li>
        				<li class="contacts">Fax. nr.: +370 52 xxxxx</li>
        				<li class="contacts">El. paštas: info@baltijosreda.lt</li>
        			</ul>
        		</div>
        	</div>
		</div>
	</div>
	
	<div class="footer">
		<div class="container">			
		</div>
	</div>

	

	<!-- Modules -->
	<script src="js/app.js"></script>

	<!-- Controllers -->
	<script src="js/controllers/ScrollController.js"></script>
	<script src="js/controllers/ToggleController.js"></script>

	<!-- Directives -->
	<script src="js/directives/angular-scroll.js"></script>
	</body>
</html>